langchain
python-dotenv
ipykernel
langchain_community
pypdf
bs4
arxiv
pymupdf
langchain-text-splitters
langchain-google-genai
chromadb
faiss-cpu
langchain-chroma
# used for to scrap the data from the web
beautifulsoup4 
langchain-core
streamlit